# -------------------------------------------------
# 1. R‑project artefacts
# -------------------------------------------------
*.Rproj
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# -------------------------------------------------
# 2. Private source notebooks (never commit)
# -------------------------------------------------
scripts/*.Rmd
scripts/*.rmd

# -------------------------------------------------
# Archivos generados por R Markdown
# -------------------------------------------------
#*_files/
*.html
*.pdf

# -------------------------------------------------
# 3. Large raster data (optional – keep if <100 MB)
# -------------------------------------------------
# data/**/*.tif